<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>SYARIP MAS`UD</title>
    <meta content="CV Syarip Mas'ud" name="description" />
    <meta content="usaidmasud, syarip, syaripmasud,masud" name="keywords" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

    <!-- Vendor CSS Files -->
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <!-- =======================================================
  * Template Name: iPortfolio - v1.4.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body id="app">
    <!-- ======= Mobile nav toggle button ======= -->
    <button type="button" class="mobile-nav-toggle d-xl-none">
      <i class="icofont-navigation-menu"></i>
    </button>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img
            src="/assets/img/pas-photo.png"
            alt=""
            class="w-25 h-25 rounded-circle bg-light "
          />
          <h1 class="text-light"><a href="#">Syarip Mas'ud</a></h1>
          <div class="social-links mt-3 text-center">
            <a href="https://twitter.com/syaripmasud" class="twitter"
              ><i class="bx bxl-twitter"></i
            ></a>
            <a href="https://www.facebook.com/masud.syarip/" class="facebook"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/syarip-mas-ud-220023168/"
              class="linkedin"
              ><i class="bx bxl-linkedin"></i
            ></a>
          </div>
        </div>

        <nav class="nav-menu">
          <ul>
            <li class="active">
              <a href="#home"><i class="bx bx-home"></i> <span>Home</span></a>
            </li>
            <li>
              <a href="#skills"><i class="bx bx-brain"></i> <span>Skill</span></a>
            </li>
            <li>
              <a href="#resume"
                ><i class="bx bx-file-blank"></i> <span>Resume</span></a
              >
            </li>
            <li>
              <a href="#services"><i class="bx bx-server"></i> Services</a>
            </li>
            <li>
              <a href="#sponsor"><i class="bx bx-server"></i> Sponsor</a>
            </li>
            <li>
              <a href="#portfolio"
                ><i class="bx bx-book-content"></i> Portfolio</a
              >
            </li>
            <li>
              <a href="#testimonials"
                ><i class="bx bx-message-square-dots"></i> Testimony</a
              >
            </li>
           
            <li>
              <a href="#contact"><i class="bx bx-envelope"></i> Contact</a>
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
        <button type="button" class="mobile-nav-toggle d-xl-none">
          <i class="icofont-navigation-menu"></i>
        </button>

        <div class="mt-md-5">
          <a href="/assets/cv/cv.pdf" class="btn btn-outline-primary btn-block">
            <i class="bx bx-download"></i> Download CV
          </a>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <!-- <section
      id="hero"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="hero-container" data-aos="fade-in">
        <h1>Syarip Mas'ud</h1>
        <p>
          I'm
          <span
            class="typed"
            data-typed-items="Programmer, Designer, Freelancer"
          ></span>
        </p>
      </div>
    </section> -->
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="home" class="about">
        <div class="container">
          <div class="section-title">
            <h2>About</h2>
            <p>
              Saya Seorang fullstack web dengan pengalaman lebih dari
              <span id="year-experience"></span> tahun, saya sangat senang belajar hal baru dalam dunia pemrograman, saat ini saya
              menggunakan nextjs dan tailwind sebagai front end dan
              laravel / nestjs sebagai back end, dan saya mampu memahami dinamika bisnis
              sehingga dapat mempersingkat infrastruktur dalam sistem.
            </p>
          </div>
          <div class="row">
            <div
              class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
              data-aos="fade-right"
            >
              <img
                src="/assets/img/pas-photo.png"
                class="img-fluid img-thumbnail"
                alt=""
              />
            </div>
            <div
              class="col-lg-8 col-md-8 col-sm-6 col-xs-12 pt-4 pt-lg-0 content"
              data-aos="fade-left"
            >
              <h3>Programmer Web & Mobile.</h3>
              <p class="font-italic"></p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="icofont-rounded-right"></i>
                      <strong>Phone:</strong> +62 878 5237 3926
                    </li>
                    <li>
                      <i class="icofont-rounded-right"></i>
                      <strong>Email:</strong> syaripmasud@gmail.com
                    </li>

                    <li>
                      <i class="icofont-rounded-right"></i>
                      <strong>Age:&nbsp;</strong><span id="age"></span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="icofont-rounded-right"></i>
                      <strong>Degree:</strong> S1 Teknik Komputer
                    </li>
                    <li>
                      <i class="icofont-rounded-right"></i>
                      <strong>City:</strong> Keru - Narmada NTB
                    </li>
                    <li>
                      <i class="icofont-rounded-right"></i>
                      <strong>Freelance:</strong> Available
                    </li>
                  </ul>
                </div>
              </div>
              <p></p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      
      <!-- ======= Facts Section ======= -->
      <!-- <section id="facts" class="facts">
        <div class="container">
          <div class="section-title">
            <h2>Facts</h2>
            <p>
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
          </div>

          <div class="row no-gutters">
            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
            >
              <div class="count-box">
                <i class="icofont-simple-smile"></i>
                <span data-toggle="counter-up">232</span>
                <p><strong>Happy Clients</strong> consequuntur quae</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="count-box">
                <i class="icofont-document-folder"></i>
                <span data-toggle="counter-up">521</span>
                <p><strong>Projects</strong> adipisci atque cum quia aut</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="count-box">
                <i class="icofont-live-support"></i>
                <span data-toggle="counter-up">1,463</span>
                <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="count-box">
                <i class="icofont-users-alt-5"></i>
                <span data-toggle="counter-up">15</span>
                <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- End Facts Section -->

      <!-- ======= Skills Section ======= -->
      <section id="skills" class="skills section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Skills</h2>
            <p></p>
          </div>
          <div class="row">
            <div
              v-for="s in skills"
              :key="s"
              v-bind:class="s"
              class="col-6 col-md-2"
            >
              <div data-aos="fade-up" class="d-flex flex-column justify-content-center align-items-center">
                <div style="width: 60px; height: 60px;" :class="s.color" class="rounded-circle d-flex justify-content-center align-items-center">
                  <img :src="s.image" :alt="s.title" class="w-50">
                </div>
                  <h6 class="mt-2 text-muted">{{s.title}}</h6>
              </div>
              <!-- <li class="">{{ s }}</li>
              </li> -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Skills Section -->

    

      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container">
          <div class="section-title">
            <h2>Resume</h2>
            <p></p>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>S1 Teknik Informatika</h4>
                <h5>2011 - 2015</h5>
                <p><em>STMIK Bumigora Mataram</em></p>
                <!-- <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> -->
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Free Lancer</h4>
                <h5>2014 - now</h5>
              </div>
              <div class="resume-item">
                <h4>Staff IT</h4>
                <h5>Nov 2017 - Des 2022</h5>
                <p><em>CV Brajamarketindo </em></p>
                <!-- <ul>
                  <li>
                    Lead in the design, development, and implementation of the
                    graphic, layout, and production communication materials
                  </li>
                  <li>
                    Delegate tasks to the 7 members of the design team and
                    provide counsel on all aspects of the project.
                  </li>
                  <li>
                    Supervise the assessment of all graphic materials in order
                    to ensure quality and accuracy of the design
                  </li>
                  <li>
                    Oversee the efficient use of production project budgets
                    ranging from $2,000 - $25,000
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Resume Section -->

       <!-- ======= Services Section ======= -->
       <section id="services" class="services">
        <div class="container">
          <div class="section-title">
            <h2>Services</h2>
            <p></p>
          </div>

          <div class="row">
            <div
              v-for="sv in services"
              :key="sv.id"
              class="col-lg-6 col-md-6 icon-box"
              data-aos="fade-up"
            >
              <div class="icon"><i :class="sv.icon"></i></div>
              <h4 class="title"><a href="">{{sv.title}}</a></h4>
              <p class="description">{{sv.description}}</p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

        <!-- ======= Sponsor Section ======= -->
        <section id="sponsor" class="facts">
          <div class="container">
            <div class="section-title">
              <h2>Sponsor</h2>
            </div>
  
            <div class="row no-gutters">
              <div
                class="col-2 d-md-flex align-items-md-stretch"
                data-aos="fade-up"
                v-for="s in sponsors"
                  :key="s"
                  v-bind:class="s"
              >
                  <div data-aos="fade-up" class="d-flex flex-column justify-content-center align-items-center">
                    <div style="width: 250px; height: 250px;" :class="s.color" class=" d-flex justify-content-center align-items-center">
                      <img :src="s.image" :alt="s.title" class="w-50">
                    </div>
                      <h6 class="mt-2 text-muted">{{s.title}}</h6>
                  </div>
                </div>
            </div>
          </div>
        </section>
        <!-- End Sponsor Section -->
      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Portfolio</h2>
            <p></p>
          </div>

          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-design">Design</li>
                <li data-filter=".filter-web">Web</li>
                <li data-filter=".filter-desktop">Desktop</li>
                <li data-filter=".filter-internet">Internet</li>
                <li data-filter=".filter-cctv">CCTV</li>
                <li data-filter=".filter-computer">Komputer</li>
                <li data-filter=".filter-listrik">Listrik</li>
              </ul>
            </div>
          </div>

          <div
            class="row portfolio-container"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div
              v-for="p in portfolios"
              :key="p.id"
              class="col-lg-4 col-md-4 col-sm-6 col-xs-12 portfolio-item"
              v-bind:class="p.type"
            >
              <div class="portfolio-wrap">
                <img :src="p.image" class="img-fluid" alt="" />
                <div class="portfolio-links">
                  <a
                    :href="p.image"
                    :title="p.title"
                    data-gall="portfolioGallery"
                    class="venobox"
                    title="App 1"
                    ><i class="bx bx-search"></i
                  ></a>
                  <!-- <a href="#" title="More Details"
                    ><i class="bx bx-info-circle"></i
                  ></a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->

     

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Testimonials</h2>
            <p></p>
          </div>

          <div class="owl-carousel testimonials-carousel">
            <div
              v-for="item in testimonies"
              class="testimonial-item"
              data-aos="fade-up"
            >
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{item.title}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img :src="item.photo" class="testimonial-img" alt="" />
              <h3>{{item.name}}</h3>
              <h4>{{item.year}}</h4>
            </div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- End Testimonials Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Contact</h2>
            <p></p>
          </div>

          <div class="row" data-aos="fade-in">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>Keru - Narmada, NTB</p>
                </div>

                <div class="email">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>syaripmasud@gmail.com</p>
                </div>

                <div class="phone">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+62 878 5237 3926</p>
                </div>
              </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.0580235261564!2d116.24638111488194!3d-8.59042009382581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dcdb7cbff54b3a9%3A0x6ed3ab42fc64f57f!2sKIOS%20USAID!5e0!3m2!1sen!2sid!4v1606202288886!5m2!1sen!2sid"
                width="600"
                height="450"
                frameborder="0"
                style="border: 0"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"
              ></iframe>
              <!-- <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 4 chars"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      data-rule="email"
                      data-msg="Please enter a valid email"
                    />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 8 chars of subject"
                  />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    data-rule="required"
                    data-msg="Please write something for us"
                  ></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form> -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- End  Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/assets/vendor/typed.js/typed.min.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <!-- <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script> -->
    <!-- <script type="text/babel" src="/assets/js/testimoni.js"></script> -->
    <script src="/assets/js/testimoni.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
